@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
   .footer-head{
   @apply font-semibold text-base mb-2
   }

   .customer-get{
   @apply shadow-md px-2 py-2 rounded-md}
}

@layer components{
   .target-comp{
   @apply bg-gray-100 mx-auto flex flex-col justify-center items-center rounded-2xl py-10 px-10 cursor-pointer max-w-sm lg:items-start
   }
}
.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section {
  transition: transform 1s, opacity 1s;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: '';
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #9c9aa6;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}
.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}